@import "tailwindcss";

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

body {
  margin: 0;
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark-mode {
  background-color: #111827;
  --color: #f7fafc;
  color: var(--color);
  --color-secondary: #e6e6e6;
  --color-tertiary: #94a3b8;
  --color-accent: #38bdf8;
  --color-background: #1c2537;
}

.light-mode {
  background-color: #f0f4fc;
  --color: #1a202c;
  color: var(--color);
  --color-secondary: #334155;
  --color-tertiary: #64748b;
  --color-accent: #0284c7;
  --color-background: #ffffff;
}

.overflow-y-auto {
  scrollbar-width: 10px;
  scrollbar-color: var(--color-accent) transparent;
}